<app-menu-lateral></app-menu-lateral>
<div class="ventana-flotante">
  <h1 class="text-primary text-center font-weight-bold">
    Tus Servicios Contratados
  </h1>

  <div id="serviciospropios">
    <div class="caja container">
      <div class="row">
        <div class="col-4" *ngFor="let item of DatosCarrito; let indice = index">
          
          <!-- <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of DatosCarrito; let indice = index">
                <th scope="row">{{ indice + 1 }}</th>
                <td>{{ item.productos.codigo }}</td>
                <td>{{ item.productos.nombre }}</td>
                <td>{{ item.productos.precio | currency }}</td>
              </tr>
            </tbody>
          </table> -->


          <div class="card-body">
            <!-- TABLA PARA MOSTRAR DATOS -->
            <table id="tablalistar" class="table table-responsive">
              <thead ></thead>
              <h5 class="card-title">{{ item.productos.nombre }}</h5>
              <tbody>
                <tr>
                  <td class="font-weight-bold">Código</td>
                  <td id="cedula">{{ DatosCarrito[0].productos.codigo }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Precio</td>
                  <td id="apellido">{{ DatosCarrito[0].productos.precio }}</td>
                </tr>
              </tbody>
            </table>
            <!-- FIN DE LA TABLA -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
      type="submit"
      class="boton btn-outline-primary"
      routerLink="/Usuario"
    >
      Eliminar servicio
    </button>

<!-- Fin ventana flotante -->
</div>
