<app-menu-lateral></app-menu-lateral>
<div class="ventana-flotante">
  <h1 class="text-primary text-center font-weight-bold">
    Tus Servicios Contratados
  </h1>

  <div id="serviciospropios">
    <div class="mb3 mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="./productoint.png"
            class="card-img rounded-circle"
            alt="servicio..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nombre del servicio</h5>
            <p class="card-text">Descrip del Servicio adquirido</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
