<app-menu-lateral></app-menu-lateral>
<div class="ventana-flotante">
  <h1 class="text-primary text-center font-weight-bold">
    Tus Servicios Contratados
  </h1>

  <div id="serviciospropios">
    <div class="caja container">
      <div class="row">
        <div class="col-4" *ngFor="let item of DatosCarrito; let indice = index">
          
          <!-- <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of DatosCarrito; let indice = index">
                <th scope="row">{{ indice + 1 }}</th>
                <td>{{ item.productos.codigo }}</td>
                <td>{{ item.productos.nombre }}</td>
                <td>{{ item.productos.precio | currency }}</td>
              </tr>
            </tbody>
          </table> -->


          <div class="card-body">
            <!-- TABLA PARA MOSTRAR DATOS -->
            <table id="tablalistar" class="table table-responsive">
              <thead ></thead>
              <h5 class="card-title">{{ item.productos.nombre }}</h5>
              <tbody>
                <tr>
                  <td class="font-weight-bold">Código</td>
                  <td id="cedula">{{ item.productos.codigo }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Precio</td>
                  <td id="apellido">{{ item.productos.precio }}</td>
                </tr>
              </tbody>
            </table>
            <!-- FIN DE LA TABLA -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button
      type="submit"
      class="boton btn-outline-primary"
      (click)="ModalEliminar()"
    >
      Eliminar servicio
  </button> -->


  <!-- Modal Eliminar Servicio -->
<div
class="modal fade"
id="eliminarModal"
tabindex="-1"
role="dialog"
aria-labelledby="eliminarModalTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-top" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="titulo-modal">
        <h4>ELIMINAR UN SERVICIO</h4>
      </div>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="code2">Código </label>
            <input
              type="number"
              class="form-control"
              id="code2"
              min="0"
              [(ngModel)]="codigo"
              required
              placeholder="code area"
            />
            <small id="emailHelp" class="form-text text-muted">
              por favor ingrese el código del servicio que desea eliminar.
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkBox"
              (click)="Terminos()"
              required
            />
            <label class="form-check-label" for="checkBox">
              Acepto términos y condiciones
            </label>
          </div>
        </div>
        <div class="botones-reg">
          <div class="boton-func">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="check"
              (click)="CarritoEliminar()"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
</div>




<!-- Fin ventana flotante -->
</div>
