.card-body{
    margin-bottom: 10px;
    background-color: antiquewhite;
    border-radius: 8px;
    text-align: center;
}

.card-title{
    background-color: rgb(253, 223, 183);
}

div#serviciospropios {
    margin: 2%;
    border: solid 1px #ebebed;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 34px -13px rgba(0, 0, 0, 0.74);
}

.mb3{
    max-width: 540px
}

.boton{
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    margin-left: calc(50% - 140px);
    cursor: pointer;
}