
#registroForm {
    width: 400px;
    margin: 00px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 34px -13px rgba(0, 0, 0, 0.74);
}

.lista-botones{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.boton-func{
    margin-bottom: 15px;
}

.boton-func:not(:first-child){
    margin-left: 20px;
}