.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.title-h3{
    text-align: center;
    color: brown;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 20px;
}

.centrar{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.botones{
    cursor: pointer;
    padding: 8px;
    font-weight: 600;
    background-color: white;
    color: rgba(255, 110, 84, 0.904);
    border-radius: 8px;
    border: 0.5px solid rgba(255, 110, 84, 0.904);
}

.botones:hover {
    color: white;
    border-radius: 8px;
    background-color: rgba(255, 110, 84, 0.904);
    border: solid 0.5px bisque;
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 47%);
}

.icon{
    fill: rgba(255, 110, 84, 0.904);
}

.botones:hover .icon{
    fill: aliceblue;
}