section#hero {
    background-image: url(../../../assets/fondoHome.jpg);
    background-size: cover;
    padding-top: 90px;
    height: 100%;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.titulo-hero{
    padding: 5%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(168, 168, 168, 0.651);
    color: black;
}

.textoinicial {
    padding: 5%;
    text-align: justify;
    font-size: 33px;
    font-weight: bold;
    background-color: rgba(168, 168, 168, 0.651);
    color: black;
    /*font-size: larger;*/
}