<footer id="pie" class="navbar navbar-expand-xl bottom">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 separador">
      <h5>Lema</h5>
      <h6>Nuestra meta es servir con calidad</h6>
      <h6>La calidad nos define</h6>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 separador">
      <h5>contactenos</h5>
      <h6>sanchezsoluciones@s&s.com</h6>
      <h6>(608) 266 66 66</h6>
      <h6>(+57) 322 286 0473</h6>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 separador">
      <h5>Estamos ubicados en</h5>
      <h6>Cra 5 # 40- 33</h6>
      <h6>Ibague (Tolima)</h6>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 separador">
      <h5>Consumidor</h5>
      <h6>andreslopez@uniabogados.com</h6>
      <h6>(608) 277 81 43</h6>
      <h6>(+57) 318 856 44 55</h6>
    </div>
  </div>
</footer>
