<app-menu></app-menu>

<div class="egeneral">
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <img
          class="card-img-top"
          src="../../../assets/mision.jpeg"
          alt="Card image cap"
        />
        <h5 class="card-title">Misión</h5>
        <p class="card-text">
          Brindar nuestros servicios dando lugar a la planificación, inspección,
          coordinación, y verificación de todas las actividades necesarias, para
          así fortalecer cada área desarrollando funciones y cooperando con la
          prevención de los riesgos laborales, bienestar social en cada una de
          las empresas. Incrementando el desarrollo tecnológico a través de la
          capacitación estratégica obteniendo mejores indicadores
        </p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p class="frase">
          La excelencia se trata de luchar y perseguir algo con diligencia, con
          un enfoque estricto y determinado para hacerlo bien.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            <cite title="Source Title">Charlie Trotter</cite>
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Visión</h5>
        <p class="card-text">
          Ser una empresa líder que ofrece soluciones, administrando y
          coordinando de manera personalizada a cada una de las áreas.
          Comprometiéndonos con nuestros clientes y satisfaciéndolos con
          profesionalismo a través de la entrega optima de nuestros servicios.
          Buscamos ofrecer a nuestra gente un ámbito laboral del que se puedan
          sentir orgullosos.
        </p>
        <img
          class="card-img-top"
          src="../../../assets/vision.jpeg"
          alt="Card image cap"
        />
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p class="frase">
          La gente que sobresale tiene algo en común: un absoluto sentido de
          misión consigo mismo y con la sociedad.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            <cite title="Source Title">Zig Ziglar</cite>
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <img
          class="card-img-top"
          src="../../../assets/rse.jpeg"
          alt="Card image"
        />
        <h5 class="card-title">R.S.E</h5>
        <p class="card-text">Responsabilidad Social Empresarial.</p>
        <p class="card-text">
          La Responsabilidad Social Empresarial radica en el impacto positivo
          que estas prácticas generen en los distintos ámbitos con los que una
          empresa tiene relación, al mismo tiempo que contribuya a la
          competitividad y sostenibilidad de la empresa.
        </p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p class="frase">
          Tenemos que entender que lo que es bueno para la comunidad es
          realmente bueno para los negocios.
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            <cite title="Source Title">Michael Porter</cite>
          </small>
        </footer>
      </blockquote>
    </div>
  </div>
</div>

<app-footer></app-footer>
