<h3>esto es un menú</h3>

<!--  
  
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/Home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Registro">Registrarse</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="#">Contactenos</a>
  </li>
</ul>

-->

<!-- coment -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="cont container">
    <a class="navbar-brand" href="#"
      ><img src="../../../assets/Logo.png" class="logo-brand" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!--  
      <ion-icon name="menu-outline"></ion-icon>
    --></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home" id="principal">Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Portafolio" id="portafolio"
            >Portafolio</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Nosotros" id="nosotros">Nosotros</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Contactenos" id="contactenos"
            >Contactenos
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="ingreso nav-link" id="ingresar" (click)="CargarModal()"
            >Ingresar</span
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Registro" id="ingresar">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Perfil" id="ingresar">Mi Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal Ingresar -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="titulo-modal">
          <h4>Ingresar</h4>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="registroForm">
          <!-- <h4 id="login-h4">Ingresar</h4> -->

          <div class="form-group">
            <label for="exampleInputEmail1">Correo electónico</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              [(ngModel)]="email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >No comparata información personal con nadie.</small
            >
          </div>

          <div class="form-group">
            <label for="pass">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="pass"
              placeholder="Enter secret password"
              [(ngModel)]="password"
            />
          </div>

          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="Check"
              (click)="Terminos()"
            />
            <label class="form-check-label" for="Check">Check me out</label>
          </div>

          <!-- Lista de botones -->
          <div class="lista-botones">
            <!-- Botón Iniciar Sesión -->
            <div class="boton-func">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!check"
                (click)="iniciarSesion()"
              >
                Iniciar sesion
              </button>
            </div>
          </div>
          <!-- Fin de la lista de botones -->
          <a id="link-registro" routerLink="/Registro" data-dismiss="modal">
            ¿No tienes una cuenta? Regístrate.
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
