#menulateral{
    position: absolute;
    top: 0;
    text-align: center;
    width: 150px;
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 47%);
    background: rgb(209, 96, 76);
    height: 100vh;
}

.item{
    width: 100%;
    height: 55px;
    padding: 15px;
    color: bisque;
    border-bottom: solid 0.5px bisque;
    cursor: pointer;
}

.item:hover{
    background-color: rgba(255, 110, 84, 0.904);
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 47%);
}

.boton-background{
    width: 100%;
    height: 55px;
    background-color: rgb(209, 96, 76);
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 47%);
}

.boton-func{
    position: absolute;
    right: 0;
    top: 8px;
}

.btn-outline-primary{
    border: 0.5px solid rgba(255, 110, 84, 0.904);
    color: rgb(148, 120, 85);
    background-color: white;
}

.btn-outline-primary:hover{
    background-color: rgba(255, 110, 84, 0.904);
    color: white;
    border: solid 0.5px bisque;
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 47%);
}