<app-menu></app-menu>
<div class="ventana-flotante2">
  <section id="portafolio">
    <div class="container-fluid">
      <div class="content-center">
        <h2>Valide nuestro amplio portafolio</h2>
        <!-- <p id="segundotxt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquam quaerat doloremque corrupti laboriosam nam perspiciatis corporis libero molestiae non delectus tenetur sequi expedita, eos laudantium repellat. Assumenda, quis neque?
            </p> -->
      </div>

      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
          <div class="portafolio-container">
            <div class="portafolio-detalle">
              <a href="#">
                <h2>Logistica</h2>
              </a>
              <a href="#">
                <p>Porque todo puede ser mas rapido</p>
              </a>
            </div>
            <img
              src="../../../assets/logistica.jpeg"
              class="img-fluid"
              alt="portfolio 1"
            />
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
          <div class="portafolio-container">
            <div class="portafolio-detalle">
              <a href="#">
                <h2>Contabilidad</h2>
              </a>
              <a href="#">
                <p>cifras claras, toma de decisiones oportunas</p>
              </a>
            </div>
            <img
              src="../../../assets/contabilidad.jpeg"
              class="img-fluid"
              alt="portfolio 1"
            />
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
          <div class="portafolio-container">
            <div class="portafolio-detalle">
              <a href="#">
                <h2>Mercadeo</h2>
              </a>
              <a href="#">
                <p>Una ventana al Mercado</p>
              </a>
            </div>
            <img
              src="../../../assets/mercadeo.jpeg"
              class="img-fluid"
              alt="portfolio 1"
            />
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
          <div class="portafolio-container">
            <div class="portafolio-detalle">
              <a href="#">
                <h2>Talento Humano</h2>
              </a>
              <a href="#">
                <p>Un colaborador bien atendido, un colaborador eficiente</p>
              </a>
            </div>
            <img
              src="../../../assets/rh.jpeg"
              class="img-fluid"
              alt="portfolio 1"
            />
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
          <div class="portafolio-container">
            <div class="portafolio-detalle">
              <a href="#">
                <h2>Sistema de gestion</h2>
              </a>
              <a href="#">
                <p>
                  La seguridad es muy simple, Aprende de los errores de otros,
                  no dejes que otros aprendan de ti
                </p>
              </a>
            </div>
            <img
              src="../../../assets/seguridad.jpeg"
              class="img-fluid"
              alt="portfolio 1"
            />
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
          <div class="portafolio-container">
            <div class="portafolio-detalle">
              <a href="#">
                <h2>Cartera</h2>
              </a>
              <a href="#">
                <p>Una cartera eficiente garatiza un flujo de caja estable</p>
              </a>
            </div>
            <img
              src="../../../assets/cartera.jpeg"
              class="img-fluid"
              alt="portfolio 1"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
