<app-menu></app-menu>
<div class="ventana-flotante2">
  <h1 class="portafolio-title">Nuestros servicios</h1>
  <div class="egeneral">
    <div class="card-deck">
      <div class="card servicios">
        <img
          class="card-img-top"
          src="../../../assets/contabilidad.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Contabilidad</h5>
          <p class="card-text">
            Mantener un registro sistemático de la información financiera de la
            organización correctamente actualizado, permitirán a los usuarios
            comparar la información financiera actual con los datos históricos.
          </p>
        </div>
        <button class="btn btn-success bnt-plus" type="submit" (click)="elemento1()" >Añadir</button>
      </div>
      <div class="card servicios">
        <img
          class="card-img-top"
          src="../../../assets/logistica.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Logistica</h5>
          <p class="card-text">
            La logística de una compañía es indispensable para lograr una buena
            gestión del traslado de materias primas o mercancías de un lugar a
            otro. Ya sea para la elaboración de productos como para su venta,
            para así evitar el desabasto.
          </p>
        </div>
        <button class="btn btn-success bnt-plus" type="submit" (click)="elemento2()" >Añadir</button>
      </div>
      <div class="card servicios">
        <img
          class="card-img-top"
          src="../../../assets/cartera.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Cartera</h5>
          <p class="card-text">
            Una cartera de clientes permite a las empresas tener una visión
            general de su base de datos. Además, ayuda a retener a la mayor
            cantidad de clientes leales. Una cartera de clientes es un registro
            que ayuda a proyectar flujo de caja.
          </p>
        </div>
        <button class="btn btn-success bnt-plus" type="submit" (click)="elemento3()" >Añadir</button>
      </div>
    </div>
    <div id="espacio2"></div>

    <div class="card-deck">
      <div class="card servicios">
        <img
          class="card-img-top"
          src="../../../assets/rh.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Talento Humano</h5>
          <p class="card-text">
            La gestión del Talento Humano, dentro de su departamento de Recursos
            Humanos, es el encargado de generar el bienestar y actualización
            administrativa de los trabajadores.
          </p>
        </div>
        <button class="btn btn-success bnt-plus" type="submit" (click)="elemento4()" >Añadir</button>
      </div>
      <div class="card servicios">
        <img
          class="card-img-top"
          src="../../../assets/seguridad.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Sistema de gestion</h5>
          <p class="card-text">
            El beneficio de una excelente implementación del Sistema de Gestión
            de Seguridad y Salud en el Trabajo se refleja en mejores ambientes
            de trabajo, el bienestar y la calidad de vida laboral, la
            disminución de las tasas de ausentismo .
          </p>
        </div>
        <button class="btn btn-success bnt-plus" type="submit" (click)="elemento5()" >Añadir</button>
      </div>
      <div class="card servicios">
        <img
          class="card-img-top"
          src="../../../assets/mercadeo.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Mercadeo</h5>
          <p class="card-text">
            El mercadeo garantiza el éxito cuando satisfacen la necesidades
            actuales y futuras de los consumidores de forma mas eficaz que los
            competidores, la venta permite obtener beneficios asimismo crear y
            mantener empleos, elevar el nivel de vida de la sociedad
          </p>
        </div>
        <button class="btn btn-success bnt-plus" type="submit" (click)="elemento6()" >Añadir</button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
