<app-menu-lateral></app-menu-lateral>
<div class="ventana-flotante">
  <h3>Espacio del usuario!</h3>

  <div id="registro2">
    <h3 id="title-h3">ACTUALIZAR DATOS</h3>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Nombre </label>
        <input
          type="text"
          class="form-control"
          id="validationDefault01"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault03">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="validationDefault03"
          required
        />
      </div>
      <div class="form-group col-md-4 mb-3">
        <label for="disabledSelect1">Tipo identificación</label>
        <select id="disabledSelect1" class="form-control">
          <option></option>
          <option>Cedula</option>
          <option>Cedula extranjeria</option>
          <option>Pasaporte</option>
          <option>Otros</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault05">Numero documento identificación</label>
        <input type="text" class="form-control" id="validationDefault05" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="validationDefault06">Telefono</label>
        <input
          type="text"
          class="form-control"
          id="validationDefault06"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault07">Edad</label>
        <input
          type="text"
          class="form-control"
          id="validationDefault07"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault08">Dirección</label>
        <input
          type="text"
          class="form-control"
          id="validationDefault08"
          required
        />
      </div>

      <div class="form-group col-md-4 mb-3">
        <label for="disabledSelect">Estado civil</label>
        <select id="disabledSelect" class="form-control">
          <option></option>
          <option>Soltero</option>
          <option>Casado</option>
          <option>Divorciado</option>
          <option>Viudo</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <p id="tratamiento-datos">
        Sanchez Soluciones te informa sobre su Política de Privacidad respecto
        del tratamiento y protección de los datos de carácter personal de los
        usuarios y clientes que puedan ser recabados por la navegación o
        contratación de servicios a través del presente sitio Web. En este
        sentido, el Titular garantiza el cumplimiento de la normativa vigente en
        materia de protección de datos personales, reflejada en la Ley Orgánica
        3/2018, de 5 de diciembre, de Protección de Datos Personales y de
        Garantía de Derechos Digitales (LOPD GDD). Cumple también con el
        Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de
        abril de 2016 relativo a la protección de las personas físicas (RGPD).
        El uso de sitio Web implica la aceptación de esta Política de Privacidad
        así como las condiciones incluidas en el Aviso Legal.
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck2"
          required
        />
        <label class="form-check-label" for="invalidCheck2">
          Acepto terminos y condiciones
        </label>
      </div>
    </div>
    <div class="botones-reg">
      <div class="boton-func">
        <button class="btn btn-primary" type="submit">Actualizar</button>
      </div>
    </div>
  </div>
</div>
